.header {
    background-color: $bg-header;
    .header-top {
        color: $color-header;
        padding: 1rem;
        &__home {
            text-transform: uppercase;
            &--icon {}
        }
        &__date {
            &--icon {}
        }
        &__email {
            &--icon {}
        }
        &__login {
            
        }
        &__icon {
            font-size: 1.6rem;
        }
    }
}