@import '../abstract/varlirbel';
.header {
    .header-top {
        font-size: 1.3rem;
        color: $color-header;
        padding: 0.2rem;
        background-color: $bg-header-top;
        &__home {
            text-transform: capitalize;
            display: flex;
            align-items: center;
        }
        &__date {
            display: flex;
            align-items: center;
        }
        &__email {
            @extend .header-top__date;
        }
        &__login {
            @extend .header-top__date;
        }
        &__icon {
            font-size: 2.3rem;
            margin-right: 0.5rem;
        }
    }
    .header-bottom {
        background-color: $bg-header-bottom;
        &__item {
            height: 100%;
            padding: 0.5rem 0;
            &--logo {
                img {
                    width: 25%;
                }
            }
            .max-h {
                height: 100%;
            }
            .item__phone {
                font-weight: 500;
                display: flex;
                align-items: center;
                height: 100%;
                &--icon {
                    @include header--icon;
                }
                &--text {
                    color: #ccc;
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                }
                &--number {
                    color: #fff;
                }
            }
            .item__cart {
                position: relative;
                @extend .item__phone;
                &-item {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    color: $color-width;
                    cursor: pointer;
                    transition: all 0.3s;
                    position: relative;
                    &--icon {
                        @include header--icon;
                    }
                    &--text {

                        padding-right: 1rem;
                    }
                    &:hover {
                        color: $color-main;
                    }
                    &::before {
                        bottom: -2px;
                        z-index: 10;
                        opacity: 0;
                        left: 50%;
                        border: solid transparent;
                        content: '';
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;

                        z-index: -999;
                        border-bottom-color: #ddd;
                        border-width: 11px;
                        margin-left: -11px;

                        transition: opacity .25s;
                        opacity: 1
                    }
                }
                .list-cart {
                    width: 35rem;
                    background-color: #ccc;
                    padding: 2rem;
                    position: absolute;
                    top: 100%;
                    left: -10%;
                    transform: translateY(-10%);
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                }
                &-item:hover ~.list-cart {
                opacity: 1;
                }
            }
            .item__search {
                @extend .item__phone;
                &--icon {
                    @include header--icon;
                }
            }
        }
    }
}
