.shopping {
    &__box {
        display: flex;
        justify-content: space-between;
        .item {
            border: 1px solid #ccc;
            &__title {
                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
            .list {
                &__item {
                    list-style: none;
                }
                &__a {
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    &--img {
                        height: 6rem;
                    }
                    .content {
                        &__text {
                            display: flex;
                        }
                        &__price {}
                        &__price-sale {}
                    }
                }
            }
        }
    }
}