.slider {
    &__box {
        height: 48rem;
    }
    &__item-one {
        background-image: url('../images/slider-shop-1.jpg');
        height: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        &--sale {
            position: absolute;
            top: 3rem;
            left: 15rem;
            img {
                width: 85%;
            }
        }
        .heading__title {
            position: absolute;
            top: 8.5rem;
            right: 20rem;
            color: $color-width;
            &--h2 {
                font-size: 4.8rem;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }
            &--h1 {
                font-size: 4.8rem;
                font-weight: 600;
                margin-bottom: 2.5rem;
            }
            &--p {
                font-size: 1.6rem;
                margin-bottom: 0.7rem;
            }
            &--h6 {
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 3.5rem;
            }
        }
    }
}