.slider {
    &__box {}
    &__item-one {
        background-image: url('../images/slider-shop-1.jpg');
        height: 48rem;
        background-size: cover;
        background-position: center;
        position: relative;
        &--sale {
            position: absolute;
            top: 3rem;
            left: 15rem;
            img {
                width: 85%;
            }
        }
    }
}