.ads {
    &__item {
        margin-top: 3rem;
        overflow: hidden;
        &--img {
            transition: all .3s ease-in-out;
            height: 20rem;
        }
        &:hover &--img {
            transform: scale(1.1);
        }
    }
}
@media (max-width: 767.98px) {
    .ads {
        display: none;
    }
}