@import '../abstracts/var';
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        /* text-decoration: none; */
        display: inline-block;
        border-radius: 100px;
        font-size: 1.4rem;
        padding: 1.5rem 4rem;
        position: relative;
        transition: all 0.4s ease-in-out;
        margin-bottom: 3rem;
    }
    &--white {
        background-color: $color-white;
        color: $color-grey;
        &::after {
            background-color: $color-white;
        }
    }
    &--animated {
        animation: moveBottom 0.7s ease-in-out 1.2s;
        animation-fill-mode: backwards;
    }
    &--blue {
        background-color: $color-primary;
        color: $color-white;
        &::after {
            background-color: $color-primary;
        }
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba($color-black,0.3);
        &::after {
            opacity: 0;
            transform: scaleX(1.2) scaleY(1.4);
        }
    }
    &:active {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 10px 25px rgba($color-black,0.3);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: -1;
        transition: all .3s;
    }
}
.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        border-bottom: 1px solid $color-primary;
        font-size: $default-font-size;
        padding: 0.3rem;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        transform: translateY(-0.1rem);
        text-decoration: none;
    }
    &:active {
        transform: translateY(0.1rem);
        box-shadow: 0 1.5rem 2.5rem rgba($color-black, 0.3);
    }
}
@media screen and(max-width: 375px) {
    .btn {
        &:link,
        &:visited {
            font-size: 1.2rem;
            padding: 1rem 2rem;
        }
    }
}