* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html {
    font-size: 10px;
}
input, button, textarea {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: inherit
}
// ----------------------------------------------
.container {
    width: 95%;
    margin:  0 auto;
}