.nav {
    background: #000;
}
.nav__list {
    background: #000;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    padding: 10px 16px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.nav-mobile {
    display: none;
}
@media screen and (max-width: 1023px) {
    .nav__list {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}