.nav {
    background: #000;
}
.nav__list {
    background: #000;
}
.nav__item {
    display: inline-block;
}
.nav__link {
    padding: 10px 16px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}
.nav-mobile-btn {
    font-size: 35px;
    color: #fff;
    margin-left: 10px;
}
.nav__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05);
    display: none;
}
.nav-mobile__list {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    background: #fff;
    display: none;
}
.nav-mobile__item {
    list-style: none;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}
.nav-mobile__link {
    text-decoration: none;
    display: block;
    padding: 10px;
}
@media screen and (max-width: 1023px) {
    .nav__list {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
}