$color-primary: #5a73fc;
$color-primary-light: #8e9efc;
$color-primary-dark: #1c3eff;
$color-white : #ffffff;
$color-black : #000000;
$color-grey : #777777;
$color-grey-line : #cccccc;
$color-grey-dark : #7e7e7e;
$default-font-size: 1.6rem;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #55c57a;
$color-tertiary-dark: #28b485;

$color-footer-dark: #333;