.grid-full {
    width: 100%;
    display: block;
}
.grid {
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}
/* PC */
@media (min-width: 1024px) and (max-width: 1239px) {
    .grid {
        width: 984px;
    }
}
/* tablet - PC */
@media (min-width:740px) and (max-width: 1023px) {
    .grid {
        width: 644px;
    }
}