@mixin header--icon {
    font-size: 2rem;
    color: $color-main;
    border: 1px solid $color-main;
    border-radius: 50%;
    padding: 0.3rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    animation-name: phone;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}