$color-main: #ffca44;
$color-width: #ffffff;
$color-black: #000000;
$bg-header-bottom: #302021;
$bg-header-top: #271a1b;
$color-header: #6C6465;
$color-grey: #F1F1F1;
$color-grey-line: #f7f7f7;
$color-text-menu: #594129;
$color-textmenu-hover: #FF5440;