.section-tow {
    &__item {
        &--left {}
        &--right {
            width: 45rem;
            color: #ccc;
            margin-top: 8rem;
            padding-left: 2rem;
            border-left: 1px solid #ccc;
            line-height: 2rem;
                &::after {
                    contain: "";
                }
                &::before {
                    contain: "";
                    width: 50px;
                    height: 3px;
                    background: #000;
                }
        }
    }
}