.section-three {
    &__text {
        h4 {
            @include text-heading
        }
        p {
            margin-top: 1.5rem;
            font-size: 1.2rem;
            line-height: 3rem;
            color: #c2c1c1;
        }
    }
}