.section-tow {
    &__item {
        &--left {}
        &--right {
            width: 45rem;
            color: #ccc;
            margin-top: 10rem;
            padding-left: 2rem;
            border-left: 1px solid #ccc;
            p {
                &::after {
                    contain: '';
                }
            }
        }
    }
}