.utili-center-text {
    text-align: center;
}
.utili-pd-top-min {
    padding-top: 8rem;
}
.u-align-items-center {
    align-items: center;
}
.utili-pd-top-big {

}
.utili-pd-bottom-min {
}
.utili-pd-bottom-big {

}
.utili-mg-top-min {
    margin-top: 5rem;
}
.utili-mg-top-big {

}
.utili-mg-bottom-min {
    margin-bottom: 7rem;
}
.utili-mg-bottom-big {

}
.u-clear-fix {
    clear: both;
}