/* Mobile $ Tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 0;
    }
    .header__bottom-logo {
        margin-bottom: 10px;
    }
    /* .header__bottom-cart {
        justify-content: initial;
    } */
    .header__bottom {
        height: var(--header-height);
    }
    .header__sort-list {
        display: flex;
    }
    .main {
        margin-top: calc(var(--header-height) + var(--header-sort-height));
    }
}
/* Tablet */
@media (min-width: 1023px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__bottom-cart--icon {
        padding: 0 0.5rem;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__bottom-search {
        display: none;
    }
    .header__bottom-cart--icon::after {
        display: none;
    }
    .header__bottom-cart--item {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-height));
        width: 100%;
        right: 0;
        border: none;
        border-bottom: 1px solid #ccc;
        transform-origin: unset;
        animation: animationTopBottom 0.3s ease-in-out;
    }
    .header__bottom-cart--item::after,
    .header__bottom-cart--item::before {
        display: none;
    }
    .pagination__item {
        margin: 0;
    }
    .footer-bottom__list {
        display: block;
    }
}